{% load bootstrap3 %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Add Job to {{ survey.name }}</h4>
</div>
{% if job_no %}
    <form action="{% url 'edit_job_modal' survey.pk job_no %}" method="post">
{% else %}
    <form action="{% url 'add_job' survey.pk %}" method="post">
{% endif %}
        <div class="modal-body">
            {% csrf_token %}
            {% bootstrap_form form %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>