<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Confirm Delete</h4>
</div>
<div class="modal-body">
    <p>Are you sure you want to delete Survey {{ object.pk }} and all related Jobs?</p>
</div>
<div class="modal-footer">
    <form action="{% url 'delete_survey' object.pk %}" method="post">{% csrf_token %}
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <input type="submit" value="Delete" class="btn btn-primary" />
    </form>
</div>