.hidden {
    display: none;
}

.errorfield, .errorfield textarea, .errorfield a {
    color: #D95C5C !important;
    border-color: #D95C5C !important;
    display: block !important;
}

form textarea {
    m  argin: 0em;
    padding: 0.65em 1em;
    font-size: 1em;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    outline: none;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 0.3125em;
    -webkit-transition: background-color 0.3s ease-out, -webkit-box-shadow 0.2s ease, border-color 0.2s ease;
    transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
    -webkit-box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* Table styling */
.table-container th.asc:after {
    content: '\0000a0\0025b2';
}
.table-container th.desc:after {
    content: '\0000a0\0025bc';
}
.pagination {
    text-align: center;
}