{% extends 'surveytool/base-bootstrap.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load wysiwyg %}
{% load render_table from django_tables2 %}

{% block head %}{% wysiwyg_setup  %}{% endblock %}

{% block title %}
{% if email %}Edit Email Template: {{ email.name }}
{% else %}Add Email Template{% endif %}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{% url 'app_settings' %}">Settings</a></li>
    <li><a href="{% url 'list_email_templates' %}">Email Templates</a></li>
    <li class="active">{% if email %}{{ email.name }}{% else %}Add Email Template{% endif %}</li>
</ol>
{% endblock %}

{% block header_title %}
    {% if email %}Edit{% else %}Add{% endif %} Email Template{% if email %}: {{ email.name }}{% endif %}
{% endblock %}

{% block body_block %}
    {% if email %}
        <form id="edit_email_template" method="post" action="{% url 'edit_email_template' email.pk %}" class="form">
    {% else %}
        <form id="add_email_template" method="post" action="{% url 'add_email_template' %}" class="form">
    {% endif %}
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> &nbsp;Save{% if email %} Changes{% endif %}
            </button>
            <a role="button" class="btn btn-default btn-sm" href="{% url 'list_email_templates' %}">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> &nbsp;Cancel
            </a>
            {% endbuttons %}
        </form>
        {% wysiwyg_editor "id_body_html" %}
{% endblock %}