{% extends 'surveytool/base-bootstrap.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block title %}Edit Survey: {{ survey.name }}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{% url 'list_surveys' %}">Surveys</a></li>
    <li class="active">Edit Survey</li>
</ol>
{% endblock %}

{% block header_title %}Edit Survey <small>{{ survey.name }}</small>{% endblock %}

{% block body_block %}
        <form id="edit_survey" method="post" action="{% url 'edit_survey' survey.id %}" class="form">

            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> &nbsp;Save Changes
            </button>
            <a role="button" class="btn btn-default btn-sm" href="{% url 'view_survey' survey.pk %}">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> &nbsp;Cancel
            </a>
            {% endbuttons %}
        </form>
{% endblock %}