{% extends 'surveytool/base-bootstrap.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block title %}Edit Job: {{ job.survey.pk }}/{{ job.pk }}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{% url 'list_surveys' %}">Surveys</a></li>
    <li><a href="{% url 'view_survey' job.survey.pk %}">{{ job.survey.name }}</a></li>
    <li class="active">Edit Job {{ job.pk }}</li>
</ol>
{% endblock %}

{% block header_title %}Edit Job <small>{{ job.survey.pk }}/{{ job.pk }}</small>{% endblock %}

{% block body_block %}
        <form id="edit_job" method="post" action="{% url 'edit_job_detail' job.survey.pk job.pk %}" class="form">

            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> &nbsp;Save Changes
            </button>
            <a role="button" class="btn btn-default btn-sm" href="{% url 'view_job_detail' job.survey.pk job.pk %}">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> &nbsp;Cancel
            </a>
            {% endbuttons %}
        </form>
{% endblock %}