{% extends 'surveytool/base-bootstrap.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block title %}View Surveys{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="active">Surveys</li>
</ol>
{% endblock %}

{% block header_title %}Surveys
<a role="button" class="btn btn-default btn-sm" href="{% url 'create_survey' %}">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> &nbsp;New Survey
</a>{% endblock %}

{# This js destroys the modals after they are toggled close #}
{% block page_js %}
<script language="JavaScript">
$('#del-survey-modal').on('hide.bs.modal', function() {
    $(this).removeData();
  });
</script>
{% endblock %}

{% block filter_block %}
<h4>Survey Filters</h4>
<form action="" method="get" class="form">
    {% bootstrap_form_errors filter.form type='non_fields' %}
    {% bootstrap_field filter.form.name layout='inline' size='sm' %}
    {{ filter.form.name.errors }}
    {% bootstrap_field filter.form.customer layout='inline' size='sm' %}
    {{ filter.form.customer.errors }}
    {% bootstrap_field filter.form.type layout='inline' size='sm' %}
    {{ filter.form.type.errors }}
    <input type="submit" value="Filter" class="btn btn-primary btn-sm" />
    <a href="{% url 'list_surveys' %}" role="button" class="btn btn-default btn-sm">Clear</a>
</form>
<br />
{% endblock %}

{% block body_block %}
<div class="table-responsive">
    {% render_table surveys %}
</div>
{% endblock %}
{% block modals %}
<div id="del-survey-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div id="form-modal-body" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}