{% extends 'surveytool/base-bootstrap.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block title %}Markets for {{ survey.name }}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{% url 'list_surveys' %}">Surveys</a></li>
    <li><a href="{% url 'view_survey' survey.pk %}">{{ survey.name }}</a></li>
    <li class="active">Markets</li>
</ol>
{% endblock %}

{% block header_title %}Markets for {{ survey.name }}{% endblock %}

{# This js destroys the modals after they are toggled close #}
{% block page_js %}
<script language="JavaScript">
$('#edit-mkt-modal, #del-mkt-modal').on('hide.bs.modal', function() {
    $(this).removeData();
  });
</script>
{% endblock %}

{% block body_block %}
<a data-toggle="modal" data-target="#new-mkt-modal" role="button" class="btn btn-success btn-sm" href="{% url 'add_survey_market' survey.pk %}">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> &nbsp;New Market
</a>
<a role="button" class="btn btn-default btn-sm" href="{% url 'view_survey' survey.pk %}">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> &nbsp;Back to Survey
</a>
<div class="table-responsive">
    {% render_table table %}
</div>
{% endblock %}
{% block modals %}
<div id="new-mkt-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div id="new-mkt-modal-body" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="edit-mkt-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div id="edit-mkt-modal-body" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="del-mkt-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div id="del-mkt-modal-body" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}