{% extends 'surveytool/base-bootstrap.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block title %}Email Templates{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{% url 'app_settings' %}">Settings</a></li>
    <li class="active">Email Templates</li>
</ol>
{% endblock %}

{% block header_title %}Email Templates{% endblock %}

{# This js destroys the modals after they are toggled close #}
{% block page_js %}
<script language="JavaScript">
$('#edit-mkt-modal, #del-mkt-modal').on('hide.bs.modal', function() {
    $(this).removeData();
  });
</script>
{% endblock %}

{% block filter_block %}
<h4>Template Filters</h4>
<form action="" method="get" class="form">
    {% bootstrap_form_errors filter.form type='non_fields' %}
    {% bootstrap_field filter.form.email_type layout='inline' size='sm' %}
    {{ filter.form.name.errors }}
    {% bootstrap_field filter.form.name layout='inline' size='sm' %}
    {{ filter.form.name.errors }}
    {% bootstrap_field filter.form.subject layout='inline' size='sm' %}
    {{ filter.form.subject.errors }}
    {% bootstrap_label 'Is Active' %}
    {% bootstrap_field filter.form.is_active layout='inline' size='sm' %}
    {{ filter.form.is_active.errors }}
    {% bootstrap_label 'Is Default' %}
    {% bootstrap_field filter.form.is_default layout='inline' size='sm' %}
    {{ filter.form.is_default.errors }}
    <input type="submit" value="Filter" class="btn btn-primary btn-sm" />
    <a href="{% url 'list_email_templates' %}" role="button" class="btn btn-default btn-sm">Clear</a>
</form>
<br />
{% endblock %}

{% block body_block %}
<a role="button" class="btn btn-success btn-sm" href="{% url 'add_email_template' %}">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> &nbsp;New Email Template
</a>
<div class="table-responsive">
    {% render_table table %}
</div>
{% endblock %}
{% block modals %}
<div id="del-mkt-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div id="del-mkt-modal-body" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}