{% extends 'surveytool/base-bootstrap.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block title %}Lingo Settings{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="active">Settings</li>
</ol>
{% endblock %}

{% block header_title %}Lingo Settings{% endblock %}

{% block body_block %}
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="{% url 'list_email_templates' %}">Email Templates</a></li>
            <li role="presentation"><a href="#">Other 1</a></li>
            <li role="presentation"><a href="#">Other 2</a></li>
            <li role="presentation"><a href="#">Other 3</a></li>
        </ul>
{% endblock %}