{% extends 'surveytool/base-bootstrap.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block title %}View Job: {{ job.survey.pk }}/{{ job.pk }}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{% url 'list_surveys' %}">Surveys</a></li>
    <li><a href="{% url 'view_survey' job.survey.pk %}">{{ job.survey.name }}</a></li>
    <li class="active">Job {{ job.pk }}</li>
</ol>
{% endblock %}

{% block header_title %}View Job <small>{{ job.survey.pk }}/{{ job.pk }}</small>{% endblock %}

{# This js does two things: #}
{# It makes the header checkbox in the list view activate all the row checkboxes #}
{# It destroys the modals after they are toggled close #}
{% block page_js %}
<script language="JavaScript">
function toggle(source) {
    checkboxes = document.getElementsByName('selection');
    for(var i in checkboxes)
        checkboxes[i].checked = source.checked;
}

$('#edit-job-modal, #del-job-modal').on('hide.bs.modal', function() {
    $(this).removeData();
  });
</script>
{% endblock %}

{% block body_block %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"><h5><strong>Job Number</strong></h5></div>
        <div class="col-md-6"><h5>{{ job.survey.pk }}/{{ job.pk }}</h5></div>
    </div>
    <div class="row">
        <div class="col-md-2"><h5><strong>Survey Name</strong></h5></div>
        <div class="col-md-6"><h5>{{ job.survey.name }}</h5></div>
    </div>
    <div class="row">
        <div class="col-md-2"><h5><strong>Project Type</strong></h5></div>
        <div class="col-md-6"><h5>{{ job.survey.job_type }}</h5></div>
    </div>
    <div class="row">
        <div class="col-md-2"><h5><strong>Market</strong></h5></div>
        <div class="col-md-6"><h5>{{ job.market }}</h5></div>
    </div>
    <div class="row">
        <div class="col-md-2"><h5><strong>Status</strong></h5></div>
        <div class="col-md-6"><h5>{{ job.get_status_display }}</h5></div>
    </div>
    <div class="row">
        <div class="col-md-2"><h5><strong>Assigned To</strong></h5></div>
        <div class="col-md-6"><h5>{{ job.linguist }}</h5></div>
    </div>
    <div class="row">
        <div class="col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a role="button" class="btn btn-default btn-sm" href="{% url 'edit_job_detail' job.survey.pk job.pk %}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> &nbsp;Edit Job
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-md-12"><h3>Qualified Linguists</h3></div>
    </div>
    <div class="table-responsive">
        <form action="" method="post">
            {% csrf_token %}
            {{ action_form }}
            <input type="submit" value="Go" class="btn btn-default btn-xs" />
            <a href="{% url 'view_job_detail' job.survey.pk job.pk %}" class="btn btn-default btn-xs" role="button">Clear Filters</a>
            {% render_table table %}
        </form>
    </div>
</div>
{% endblock %}
{% block modals %}
<div id="edit-job-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div id="form-modal-body" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}