{% extends 'surveytool/base-bootstrap.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block title %}View Survey {{ survey.id }} - {{ survey.name }}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{% url 'list_surveys' %}">Surveys</a></li>
    <li class="active">{{ survey.name }}</li>
</ol>
{% endblock %}

{% block header_title %}{{ survey.name }} <small>{{ survey.customer }}</small>{% endblock %}

{# This js does two things: #}
{# It makes the header checkbox in the list view activate all the row checkboxes #}
{# It destroys the modals after they are toggled close #}
{% block page_js %}
<script language="JavaScript">
function toggle(source) {
    checkboxes = document.getElementsByName('selection');
    for(var i in checkboxes)
        checkboxes[i].checked = source.checked;
}

$('#edit-job-modal, #del-job-modal').on('hide.bs.modal', function() {
    $(this).removeData();
  });
</script>
{% endblock %}

{% block filter_block %}
<h4>Survey Filters</h4>
<form action="" method="get" class="form">
    {% bootstrap_form_errors filter.form type='non_fields' %}
    {% bootstrap_field filter.form.status layout='inline' size='sm' %}
    {{ filter.form.name.errors }}
    <input type="submit" value="Filter" class="btn btn-primary btn-sm" />
    <a href="{% url 'view_survey' survey.pk %}" role="button" class="btn btn-default btn-sm">Clear</a>
</form>
<br />
{% endblock %}

{% block body_block %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"><h5><strong>Project Name</strong></h5></div>
        <div class="col-md-6"><h5>{{ survey.name }}</h5></div>
    </div>
    <div class="row">
        <div class="col-md-2"><h5><strong>Internal Number</strong></h5></div>
        <div class="col-md-6"><h5>{{ survey.pk }}</h5></div>
    </div>
    <div class="row">
        <div class="col-md-2"><h5><strong>Client</strong></h5></div>
        <div class="col-md-6"><h5>{{ survey.customer }}</h5></div>
    </div>
    <div class="row">
        <div class="col-md-2"><h5><strong>Project Type</strong></h5></div>
        <div class="col-md-6"><h5>{{ survey.job_type }}</h5></div>
    </div>
    <div class="row">
        <div class="col-md-2"><h5><strong>Name Candidates</strong></h5></div>
        <div class="col-md-6"><h5>{{ names_list }}</h5></div>
    </div>
    <div class="row">
        <div class="col-md-2"><h5><strong>Markets</strong></h5></div>
        <div class="col-md-6"><h5>
            {% for market in markets %}
                {% if not forloop.last %}
                <a href="{% url 'view_survey' survey.pk %}?market={{ market.pk }}">{{ market.market }} ({{ market.language }})</a>,
                {% endif %}
                {% if forloop.last %}
                <a href="{% url 'view_survey' survey.pk %}?market={{ market.pk }}">{{ market.market }} ({{ market.language }})</a>
                {% endif %}
            {% endfor %}
        </h5></div>
    </div>
    <div class="row">
        <div class="col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a role="button" class="btn btn-default btn-sm" href="{% url 'edit_survey' survey.pk %}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> &nbsp;Edit Survey
            </a>
            <a role="button" class="btn btn-default btn-sm" href="{% url 'edit_survey_markets' survey.pk %}">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> &nbsp;Edit Markets
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-md-12"><h3>Jobs for This Survey</h3></div>
    </div>
    <div class="table-responsive">
        <form action="" method="post">
            {% csrf_token %}
            {{ action_form }}
            <input type="submit" value="Go" class="btn btn-default btn-xs" />
            <a href="{% url 'view_survey' survey.pk %}" class="btn btn-default btn-xs" role="button">Clear Filters</a>
            <a data-toggle="modal" data-target="#edit-job-modal" href="{% url 'add_job' survey.pk %}" class="btn btn-default btn-xs" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Job
            </a>
            {% render_table table %}
        </form>
    </div>
</div>
{% endblock %}
{% block modals %}
<div id="edit-job-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div id="form-modal-body" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="del-job-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div id="form-modal-body" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}