<!DOCTYPE html>

{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Lingo Survey Tool{% endblock %}</title>

    {% bootstrap_css %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap3-tables2.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block head %}{% endblock %}

</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Lingo Survey Tool</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'admin:index' %}" target="_blank">Bridge</a></li>
            <li><a href="{% url 'app_settings' %}">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% block filter_block %}{% endblock %}
          <ul class="nav nav-sidebar">
            <li><a href="/admin/">Bridge</a></li>
            {% url 'list_surveys' as url %}<li{% if request.path == url %} class="active"{% endif %}><a href="/navigate/surveys/">Surveys</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block breadcrumb %}{% endblock %}
            {# Display django.contrib.messages as Bootstrap alerts #}
            {% if messages %}{% bootstrap_messages %}{% endif %}
            <h1 class="page-header">{% block header_title %}Lingo Survey Tool{% endblock %}</h1>

            {% block body_block %}Body content goes here.{% endblock %}
        </div>
      </div>
    </div>

    {% bootstrap_javascript jquery=1 %}

    {# This script makes bootstrap alerts auto dismiss. #}
    <script>
        $(document).ready (function(){
            $(".alert-dismissable").fadeTo(2000, 500).slideUp(500, function(){
                $(".alert-dismissable").alert('close');
            });
        });
    </script>

    {% block modals %}{% endblock %}
    {% block page_js %}{% endblock %}
</body>
</html>