<!DOCTYPE html>

{% load staticfiles %}

<!-- This is just a possible mockup based on tutorial at
http://callmenick.com/post/single-page-site-with-smooth-scrolling-highlighted-link-and-fixed-navigation -->

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Lingo Survey Tool{% endblock %}</title>

    <link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" href="{% static "css/lingo.css" %}" />

    {% block head %}{% endblock %}

    <script src="{% static "js/jquery-1.11.3.js" %}"></script>
    <script src="{% static "js/lingo-jquery.js" %}"></script>
    <script src="{% static "js/jquery.scrollto.js" %}"></script>

</head>
<body>
    <div id="wrapper">
    <header>
        <div class="container clearfix">
            <div id="title">
                <h1>{% block header_title %}Lingo Survey Tool{% endblock %}</h1>
                <span>{% block header_subtitle %}{% endblock %}</span>
            </div>
        </div>
    </header>
    <div id="main">
        <div class="container clearfix">
            {% block body_block %}Body content goes here.{% endblock %}
        </div><!-- /.container -->
    </div><!-- /#main -->
        <footer>
            <div class="container">
                Lingo Survey Tool by Brandon Fancher{% if user.is_superuser %} | <span><a href="{% url 'admin:index' %}" target="_blank">Admin</a>{% endif %}
            </div>
        </footer>
    </div><!-- /#wrapper -->

</body>
</html>