{% extends 'surveytool/base.html' %}

{% load staticfiles %}

{% block title %}My Jobs{% endblock %}
{% block header_title %}My Jobs{% endblock %}

{% block body_block %}
             <h2>Assigned, Not Started</h2>
                <ul>
                {% if not unassigned_jobs %}
                    <li>Sorry, no new jobs for you right now.</li>
                {% endif %}
                {% for job in jobs.all %}
                    {% if job.status == job.NOTSTARTED %}
                        <li><a href="{% url 'take_survey' job.survey.id job.id %}">{{ job }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
                <br />
            <h2>Jobs in Progress</h2>
                <ul>
                {% for job in jobs.all %}
                    {% if job.status == job.PENDED or job.status == job.INPROGRESS %}
                        <li><a href="{% url 'take_survey' job.survey.id job.id %}">{{ job }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
                <br />
            <h2>Completed Jobs</h2>
                <ul>
                {% for job in jobs.all %}
                    {% if job.status == job.SUBMITTED %}
                        <li>{{ job }}</li> <!-- Need to add logic to view so that vendors cannot access these. -->
                    {% endif %}
                {% endfor %}
                </ul>
{% endblock %}