{% extends 'surveytool/base.html' %}

{% load staticfiles %}

{% block title %}View Surveys{% endblock %}
{% block header_title %}View Surveys{% endblock %}
{% block header_subtitle %}<a href="{% url 'admin:index' %}" target="_blank">&larr; Back to the Bridge</a>{% endblock %}

{% block body_block %}
        <form id="list_surveys_formset" method="post" action="{% url 'list_surveys_formset' %}">

            {{ formset.management_form }}
            {{ formset.non_form_errors.as_ul }}
            <table id="formset" class="form">
            {% for form in formset.forms %}
                {% if forloop.first %}
                <thead><tr>
                    {% for field in form.visible_fields %}
                    <th>{{ field.label|capfirst }}</th>
                    {% endfor %}
                </tr></thead>
                {% endif %}
                <tr class="{% cycle row1,row2 %}">
                {% for field in form.visible_fields %}
                    <td>
                    {# Include the hidden fields in the form #}
                    {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                    {% endif %}
                        {{ field.errors.as_ul }}

                        {# need to figure this part out #}
                        {% if form.instance %}
                            {{ field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </table>

            <input type="submit" name="submit" value="Save" />
        </form>
{% endblock %}