{% extends 'surveytool/base.html' %}

{% load staticfiles %}

{% block title %}Survey: {{ survey.name }}{% endblock %}
{% block header_title %}Survey: {{ survey.name }}{% endblock %}
{% block header_subtitle %}<a href="{% url 'view_jobs' %}">&larr; Back to the Jobs List</a>{% endblock %}

{% block body_block %}
            <div id="sidebar">
                <div id="nav-anchor"></div>
                <nav>
                    <ul>
                        {% for formset in formsets %}
                        <li>
                            <a href="#candidate{{ forloop.counter }}">
                            {{ formset.instance.candidate }}
                            {% for f in formset %}{% if f.answer.errors %}
                            <ul>
                                <li style="margin-left: 24px" class="hidden errorfield q{{ forloop.counter }}candidate{{ forloop.parentloop.counter }}">
                                    Q{{ forloop.counter }} answer missing!
                                </li>
                            </ul>
                            {% endif %}{% endfor %}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div><!-- /sidebar -->
            <div id="content">
                <form id="fill_survey_form" method="post" action="{% url 'take_survey' survey.id job.id %}">
                {% csrf_token %}
                {% for formset in formsets %}
                    <section id="candidate{{ forloop.counter }}">


                    {{ formset.management_form }}

                    <h1>{{ formset.instance.candidate }}</h1>
                    {% for f in formset %}
                        {{ f.id }}
                        {{ f.non_field_errors }}
                        <ul{% if f.answer.errors %} class="errorfield q{{ forloop.counter }}candidate{{ forloop.parentloop.counter }}"{% endif %}>
                            <!-- <li>{{ f.survey.label_tag }} {{ f.instance.survey.name }}</li>
                            <li>{{ f.candidate.label_tag }} {{ f.instance.candidate.candidate }}</li>
                            <li>{{ f.question.label_tag }} {{ f.instance.question.name }}</li> -->
                            <li>{{ f.instance.question.question }}</li>
                            <!-- <li>{{ f.linguist.label_tag }} {{ f.instance.linguist }}</li> -->
                            <li>{{ f.answer }}</li>
                            {{ f.answer.errors }}
                        </ul>
                        <br />
                    {% endfor %}
                    <br />
                    </section>
                {% endfor %}
                <input type="submit" name="submit" value="Submit Survey" />
                <input type="submit" name="pend" value="Save Survey Progress" />
                </form>
            </div><!-- /#content -->
{% endblock %}